<nav class='light-blue darken-4'>
  <div class='container'>
    <div class='nav-wrapper'>
      <a href='/' class='brand-logo'>&#128209;ProjNotes+</a>
      <ul class='right hide-on-med-and-down'>
        <li><a href='/'>Inicio</a></li>
        <li><a href='/about'>Acerca de ...</a></li>
      </ul>
      <!-- Barra de Navegación Movil -->
      <a href='#' data-target='nav-mobile' class='sidenav-trigger'>
        <i class='material-icons'>Menu</i>
      </a>
      <ul class='sidenav' id='nav-mobile'>
        <li><a href='/'>Inicio</a></li>
        <li><a href='/about'>Acerca de ...</a></li>
      </ul>
    </div>
  </div>
</nav>