{
  "presets": [
      "minify",
    [
      "@babel/preset-env",
      {
        "targets": { "node": "current" }
      }
    ]
  ],
  "plugins": [
      [
          "module-resolver",
          { 
              "root":["./"],
              "alias":{
                  "@server":"./server",
                  "@s-routes":"./server/routes",
                  "@s-config":"./server/config"
                }
          }
      ]
  ]
}
