<!DOCTYPE html>
<html>
  <head>
    <title>{{appName}}</title>
    <link rel='stylesheet' href='/style/app.css' />
  </head>
  <body>
    {{{body}}}
    <script src="/js/bundle.js"></script>
  </body>
</html>
