<br><br>
<div
  class='row center light-blue lighten-4'
  style='padding; 2em; border-radius: 1e;'
>
  <h1 class='header center teal-text'>Bienvenido a ProjecNnotes</h1>
  <div class='row center'>
    <h5 class='header col s12 ligth grey-text text-darken-3'>
      Una aplicación que te permitirá registrar ideas de proyectos que se te
      vayan ocurriendo.
    </h5>
  </div>
  <div class='row center'>
    <a href='/projects/add' class='btn-large waves-effect waves-ligth teal'>
      Registrar una idea.
    </a>
  </div>
</div>