<div class='row'>
  <div class='col s12 m10 offset-m1 l8 offset-12'>
    <div class='card'>
      <div class='card-image'>
        <img src='/images/blueprint.jpg' alt='fondo azul' />
        <span class='card-tittle'>
          Agregar proyecto
        </span>
      </div>
      <form autocomplete='off' action='/projects/add' method='POST'>
        <div class='card-content'>
          <!-- Entrada del nombre de la idea del proyecto -->
          <div class='input-field'>
            <label for='project-name'>
              Nombre del proyecto
            </label>
            <input
              id='project-name'
              placeholder='Ingrese el nombre aqui'
              name='name'
              type='text'
              class='validate'
              value='{{project.name}}'
              required
            />
            <span class="helper-text" data-error="Debe Ingresar un nombre de proyecto"
            data-succes="Correcto"></span>
          </div>
          {{#if errorModel.nameError}}
            <span style='color: red;'> Error: {{errorModel.nameError}}</span>
          {{/if}}
          <!-- Entrada de la descripcion de la idea del proyecto -->
          <div class='input-field'>
            <label for='project-descripcion'>
              Descipción del proyecto
            </label>
            <textarea required name='descripcion' id='project-descripcion' 
            class='materialize-textarea validate'> 
            {{project.descripcion}}</textarea>
            <span 
            class="helper-text" 
            data-error="Debe Ingresar una descripción"
            data-succes="Correcto">
            </span>
            {{#if errorModel.descriptionError}}
              <span style='color: red;'> Error: {{errorModel.descriptionError}}</span>
            {{/if}}
          </div>
        </div>
        <div class='card-action'>
          <button type='submit' class='blue darken-3 waves-effect waves-light btn'>
            <i class='material-icons left'>note_add</i>Agregar
          </button>
        </div>
      </form>
    </div>
  </div>
</div>